name: validate
on: [push, pull_request]
jobs:
  run-test:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        node: [ '22', '24', '25' ]
    name: Node ${{ matrix.node }} test
    steps:
      - uses: actions/checkout@v4
      - name: Setup node
        uses: actions/setup-node@v4
        with:
          node-version: ${{ matrix.node }}
          cache: 'npm'
      - name: Install dependencies
        run: npm ci
      - name: Run linter
        run: npm run lint
      - name: Run build
        run: npm run build
      - name: Run test
        run: npm run test
